apiVersion: 1

datasources:
 - name: Loki
   type: loki
   orgId: 1
   uid: {{grafana.datasource_loki_uid}}
   access: proxy
   url: http://127.0.0.1:3100
   isDefault: false
   jsonData:
     manageAlerts: false
     tlsAuth: false
     tlsAuthWithCACert: false
   version: 1
   editable: false
