{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% include "accounts/_body_style.inc.html" %}
  </head>
  <body>
    <header>
      <div class="main-title">
        <h2>{% translate "E-mail registration" %}</h2>
     </div>
    </header>
{% if email_already_used %}
    <p>
{% blocktranslate %}You or someone else requested change to this e-mail for which there is an existing account.
You need to either remove this account assigned to this e-mail or change the e-mail of it.

If this wasn't you, please just ignore this email.{% endblocktranslate %}
    </p>
{% else %}
    <p>{% blocktranslate %}You can verify the email {{ email }} by clicking on this link:{% endblocktranslate %}<p>
    <p><a href="{{ verification_url | safe }}">{{ verification_url }}</a></p>
{% endif %}
    <footer>
      <p>--<br>{% translate "The Tournesol team" %}</p>
    </footer>
  </body>
</html>
