.blue-bg {
  background-color: rgb(18, 130, 178);
}

.centered {
  text-align: center;
}

.hint {
  font-style: italic;
}

/**
 * Material UI
 */

button.mui {
  padding: 6px 16px;

  border: none;
  border-radius: 4px;

  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 1px -2px,
    rgba(0, 0, 0, 0.14) 0px 2px 2px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 5px 0px;

  cursor: pointer;
  font-size: 14px;
  line-height: 24.5px;
}

button.secondary {
  color: white;
  background-color: rgb(80, 106, 212);
}

button.secondary:hover {
  text-decoration: none;
  background-color: rgb(56, 74, 148);
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px,
    rgba(0, 0, 0, 0.14) 0px 4px 5px 0px,
    rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
}

button.mui:disabled {
  color: rgba(0, 0, 0, 0.26);
  box-shadow: none;
  background-color: rgba(0, 0, 0, 0.12);
  pointer-events: none;
  cursor: default;
}

select.mui {
  padding: 8.5px 14px;

  background-color: white;

  border: 1px solid rgba(0, 0, 0, 0.32);
  border-radius: 4px;

  cursor: pointer;
}

/**
 * Page style
 */

body {
  padding-bottom: 8px;
}

.page-header {
  padding: 1px;
  color: white;
}

.page-header h1 {
  text-align: center;
}

.settings-section {
  margin-top: 16px;
}

.list-of-fields {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

div.submit {
  margin-top: 16px;

  display: flex;
  justify-content: flex-end;
}

div.submit button {
  padding: 6px 16px;

  border: none;
  border-radius: 4px;

  font-size: 14px;
  line-height: 24.5px;
}
