# -- --
# OS: Linux
# see: https://github.com/github/gitignore/blob/main/Global/Linux.gitignore
# -- --

*~

# temporary files which can be created if a process still has a handle open
# of a deleted file
.fuse_hidden*

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*

# .nfs files are created when an open file is removed but is still being
# accessed
.nfs*

# -- --
# OS: macOS
# -- --

.DS_Store

# --
# JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm, CLion, Android Studio, WebStorm and Rider
# see: https://github.com/github/gitignore/blob/main/Global/JetBrains.gitignore
# --

.idea

# -- --
# VS Code
# -- --

.vscode
