**__pycache__/
.DS_Store
global_scores.json 
local_scores.json 
venv/
backend/ml/checkpoints/
.flake8/
.pylint/
.pytest/
.pytest_cache/
.python-version
.vscode
backend/ml/plots
settings-tournesol.yaml
pytest.ini
backend/ml/ml_logs.log
