[Unit]
Description=Postgresql Backup

[Service]
Type=oneshot
User=postgres
Group=postgres
ExecStart=/usr/local/bin/pg_backup_rotated.sh -c /etc/postgresql/pg_backup.config
ExecStopPost=/usr/bin/bash -c "if [ "$$EXIT_STATUS" != 0 ]; then /usr/local/bin/post-on-discord.sh -c infra_alert -m 'Postgres backup failed for {{domain_name}}'; fi"
