- name: Install Node
  shell:
    cmd: . ~/.nvm/nvm.sh && NVM_DIR=/home/react/.nvm nvm install --lts={{npm_lts_version}}
  become: yes
  become_user: react

- name: Yarn install
  shell:
    cmd: . ~/.nvm/nvm.sh && NVM_DIR=/home/react/.nvm nvm use lts/{{npm_lts_version}} && yarn install --frozen-lockfile
    chdir: /home/react/tournesol-frontend
  become: yes
  become_user: react

- name: Generate Client from OpenAPI Specification
  shell:
    cmd: . ~/.nvm/nvm.sh && NVM_DIR=/home/react/.nvm nvm use lts/{{npm_lts_version}} && NODE_ENV="production" ./scripts/generate-services-from-openapi.sh
    chdir: /home/react/tournesol-frontend
  become: yes
  become_user: react

- name: Yarn build
  shell:
    cmd: . ~/.nvm/nvm.sh && NVM_DIR=/home/react/.nvm nvm use lts/{{npm_lts_version}} && yarn build
    chdir: /home/react/tournesol-frontend
  become: yes
  become_user: react

- name: Copy frontend files
  synchronize:
    src: /home/react/tournesol-frontend/build/
    dest: /srv/tournesol-frontend
    archive: no
    recursive: yes
    delete: yes
    checksum: yes
  delegate_to: "{{ inventory_hostname }}"
  become: yes
  become_user: www-data

- name: Notify frontend upgrade
  shell:
    cmd: "wget -qO /dev/null --post-data='{\"content\": \"**{{domain_name}}** - new front end deployed: {{git_reference}}\"}' --header='Content-Type:application/json' '{{discord_infra_alert_webhook}}?wait=true'"
    executable: /usr/bin/bash
  when: discord_infra_alert_webhook is defined and discord_infra_alert_webhook != ""

- name: Create Frontend OAuth application in Django database
  shell:
    cmd: now=$(date -I) && psql -d tournesol <<< "insert into oauth2_provider_application (client_id, redirect_uris, client_type, authorization_grant_type, client_secret, name, skip_authorization, algorithm, created, updated) values ('{{frontend_oauth_client_id}}', '', 'confidential', 'password', '{{frontend_oauth_client_secret}}','Frontend', true, 'RS256', '$now', '$now');"
    executable: /usr/bin/bash
  become: yes
  become_user: postgres
