{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<ul>
  <li>
    <a href="https://tournesol.app/recommendations?language={{ LANGUAGE_CODE }}&date=Month&utm_source=email&utm_campaign=registration_reminder"
       rel="noopener"
       target="_blank"
    >
      {% translate "Top videos of the past 30 days" %}
    </a>
  </li>
  <li>
    <a href="https://tournesol.app/recommendations?language={{ LANGUAGE_CODE }}&date=Year&duration_lte=5&utm_source=email&utm_campaign=registration_reminder"
       rel="noopener"
       target="_blank"
    >
      {% translate "Top short videos of the past year" %}
    </a>
  </li>
</ul>
<p>
  {% blocktranslate %}You can also install the Tournesol browser extension to easily compare videos directly from
YouTube, or to add them to your rate-later list.{% endblocktranslate %}
</p>
<ul>
  <li>
    <a href="https://addons.mozilla.org/en-US/firefox/addon/tournesol-extension/"
       rel="noopener"
       target="_blank"
    >
      {% translate "Install on Firefox" %}
    </a>
  </li>
  <li>
    <a href="https://chromewebstore.google.com/detail/tournesol-extension/nidimbejmadpggdgooppinedbggeacla"
       rel="noopener"
       target="_blank"
    >
      {% translate "Install on Chrome" %}
    </a>
  </li>
</ul>
