{% load i18n %}{% get_current_language as LANGUAGE_CODE %}
<ul>
    <li>
    <a href="https://www.youtube.com/feed/history"
       rel="noopener"
       target="_blank"
    >
      {% translate "Your history if you have an account on YouTube" %}
    </a>
  </li>
  <li>
    <a href="https://tournesol.app/recommendations?language={{ LANGUAGE_CODE }}&date=Month&utm_source=email&utm_campaign=registration_reminder"
       rel="noopener"
       target="_blank"
    >
      {% translate "Top videos of the past 30 days" %}
    </a>
  </li>
  <li>
    <a href="https://tournesol.app/recommendations?language={{ LANGUAGE_CODE }}&date=Year&duration_lte=5&utm_source=email&utm_campaign=registration_reminder"
       rel="noopener"
       target="_blank"
    >
      {% translate "Top short videos of the past year" %}
    </a>
  </li>
</ul>
{% if ext_url_firefox or ext_url_chrome %}
<p>
  {% blocktranslate %}You can also install the Tournesol browser extension to easily compare videos directly from
YouTube, or to add them to your rate-later list.{% endblocktranslate %}
</p>
<ul>
  {% if ext_url_firefox %}
  <li>
    <a href="{{ ext_url_firefox}}" rel="noopener" target="_blank">
      {% translate "Install on Firefox" %}
    </a>
  </li>
  {% endif %}
  {% if ext_url_chrome %}
  <li>
    <a href="{{ ext_url_chrome}}" rel="noopener" target="_blank">
      {% translate "Install on Chrome" %}
    </a>
  </li>
  {% endif %}
</ul>
{% endif %}
