{% load i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    {% include "core/no_contrib_email/_body_style.inc.html" %}
  </head>
  <body>
    {% include "core/no_contrib_email/_body_header.inc.html" %}
    <p>
      {% blocktranslate %}Thank you for creating an account on the Tournesol collaborative platform. This participatory
research project works thanks to the contributions of many people who volunteer their time to compare the videos they
have seen on YouTube.{% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate %}We look forward to your contributions, if you have time of course. Every comparison you make
improves the recommendations made by the platform to thousands of users. It also helps advance scientific research on
ethics and security of algorithms and recommender systems.{% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate %}If every registered user made at least 10 comparisons, the quality of the public database
would double! This would be a huge step forward for the project.{% endblocktranslate %}
    </p>
    {% include "core/no_contrib_email/_contrib_examples.inc.html" %}
    {% include "core/no_contrib_email/_body_footer.inc.html" %}
  </body>
</html>
