{% load i18n %}{% get_current_language as LANGUAGE_CODE %}<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
  <head>
    <meta charset="UTF-8">
    {% include "core/no_contrib_email/_body_style.inc.html" %}
  </head>
  <body>
    {% include "core/no_contrib_email/_body_header.inc.html" %}
    <p>
      {% blocktranslate %}Tournesol works thanks to the contributions of many people who volunteer their time to compare
the videos they've seen on YouTube. We look forward to your contributions, if you have time of
course.{% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate %}Every comparison you make helps to identify the videos of public interest that the platform
recommends to thousands of people, and helps advance research in ethics and security of recommender
systems.{% endblocktranslate %}
    </p>
    <p>
      {% blocktranslate %}If every registered user makes at least 10 comparisons, the size of the Tournesol public
dataset will double! This would be a huge step forward for the project.{% endblocktranslate %}
    </p>
    <h3>{% translate "What can I do? 🤔" %}</h3>
    <p>{% translate "Here are examples of videos you could compare:" %}</p>
    {% include "core/no_contrib_email/_contrib_examples.inc.html" %}
    {% include "core/no_contrib_email/_mobile_available.inc.html" %}
    {% include "core/no_contrib_email/_body_footer.inc.html" %}
  </body>
</html>
