[Unit]
Description=Tournesol API watch accounts created during the last {{since_n_hours}} hour(s)

[Service]
Type=oneshot
User=gunicorn
Group=gunicorn
WorkingDirectory=/srv/tournesol-backend
Environment="SETTINGS_FILE=/etc/tournesol/settings.yaml"
ExecStart=/usr/bin/bash -c "source venv/bin/activate && python manage.py watch_account_creation --since-n-hours {{since_n_hours}} --n-accounts {{n_accounts}}"
ExecStopPost=/usr/bin/bash -c "if [ "$$EXIT_STATUS" != 0 ]; then /usr/local/bin/post-on-discord.sh -c infra_alert -m 'Tournesol API watch_account_creation job failed for {{ansible_host}}'; fi"
