# Code quality
bandit==1.7.0
flake8==3.9.2
flake8-html==0.4.1
isort==5.10.1
pylint==2.8.3
pylint-django==2.4.4
pylint-json2html==0.3.0

# Unit tests tools
faker==8.8.2
pytest==6.2.4
pytest-html==3.1.1
pytest-mock==3.6.1

# Pytest for django
pytest-django==4.5.2

# Factory tools
factory-boy==3.2.1
