apiVersion: 1

datasources:
 - name: Prometheus
   type: prometheus
   orgId: 1
   uid: {{grafana.datasource_prometheus_uid}}
   access: proxy
   url: http://127.0.0.1:9090
   isDefault: true
   jsonData:
     httpMethod: POST
     tlsAuth: false
     tlsAuthWithCACert: false
   version: 1
   editable: false
