{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    {% include "accounts/_body_style.inc.html" %}
  </head>
  <body>
    <header>
      <div class="main-title">
        <h2>{% translate "Welcome to Tournesol" %}</h2>
     </div>
    </header>
    <p>{% translate "To activate your account, please verify your e-mail address by clicking on this link:" %}</p>
    <p><a href="{{ verification_url | safe }}">{{ verification_url }}</a></p>
    <p>
      {% blocktranslate %}If you have not created an account on the Tournesol platform, you can ignore this e-mail.
Non-activated accounts are automatically deleted after a few days.{% endblocktranslate %}
    </p>
    <footer>
      <p>--<br>{% translate "The Tournesol team" %}</p>
    </footer>
  </body>
</html>
