apiVersion: 1
groups:
    - orgId: 1
      name: Default Evaluation Group
      folder: Alert Rules
      interval: 1m
      rules:
        - uid: e6f66a4b-e7be-41b7-a12d-7c104246f630
          title: 95th percentile of Request Time
          condition: C
          data:
            - refId: A
              queryType: range
              relativeTimeRange:
                from: 1200
                to: 0
              datasourceUid: {{grafana.datasource_loki_uid}}
              model:
                datasource:
                    type: loki
                    uid: {{grafana.datasource_loki_uid}}
                editorMode: code
                expr: quantile_over_time(0.95,{filename="/var/log/nginx/json_access.log", host="localhost"} | json | unwrap request_time |  __error__="" | http_host!="{{grafana_domain_name}}"  [120s]) by (host)
                intervalMs: 30000
                legendFormat: 95th percentile
                maxDataPoints: 43200
                queryType: range
                refId: A
            - refId: B
              relativeTimeRange:
                from: 1200
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: last
                refId: B
                settings:
                    mode: replaceNN
                    replaceWithValue: 0
                type: reduce
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0.5
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params: []
                      reducer:
                        params: []
                        type: avg
                      type: query
                datasource:
                    name: Expression
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: {{grafana.dashboard_alerting_uid}}
          panelId: 7
          noDataState: OK
          execErrState: Error
          for: 6m
          annotations:
            __dashboardUid__: {{grafana.dashboard_alerting_uid}}
            __panelId__: "7"
          labels: {}
          isPaused: false
        - uid: ca9477b7-3cc3-4ac2-8037-1d150d4bc2e9
          title: Number of 5xx Errors in Django During the Last Minute
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: {{grafana.datasource_prometheus_uid}}
              model:
                datasource:
                    type: prometheus
                    uid: {{grafana.datasource_prometheus_uid}}
                editorMode: code
                exemplar: true
                expr: increase(django_http_responses_total_by_status_total{status=~"5.+"}[2m]) or on() vector(0)
                instant: true
                interval: ""
                intervalMs: 15000
                legendFormat: ""
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: C
              relativeTimeRange:
                from: 3600
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          dashboardUid: {{grafana.dashboard_alerting_uid}}
          panelId: 2
          noDataState: OK
          execErrState: Error
          for: 0s
          annotations:
            __dashboardUid__: {{grafana.dashboard_alerting_uid}}
            __panelId__: "2"
          labels: {}
          isPaused: false
        - uid: b9982ce7-306a-4ab6-b427-1c02c1857fe1
          title: Disk Usage on RootFS
          condition: B
          data:
            - refId: A
              relativeTimeRange:
                from: 300
                to: 0
              datasourceUid: {{grafana.datasource_prometheus_uid}}
              model:
                datasource:
                    type: prometheus
                    uid: {{grafana.datasource_prometheus_uid}}
                editorMode: code
                exemplar: false
                expr: 100 - ((node_filesystem_avail_bytes{instance="localhost:9100",job="node",mountpoint="/",fstype!="rootfs"} * 100) / node_filesystem_size_bytes{instance="localhost:9100",job="node",mountpoint="/",fstype!="rootfs"})
                instant: true
                interval: ""
                intervalMs: 15000
                legendFormat: ""
                maxDataPoints: 43200
                range: false
                refId: A
            - refId: B
              relativeTimeRange:
                from: 300
                to: 0
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 80
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                refId: B
                type: threshold
          dashboardUid: {{grafana.dashboard_alerting_uid}}
          panelId: 4
          noDataState: Alerting
          execErrState: Alerting
          for: 0s
          annotations:
            __dashboardUid__: {{grafana.dashboard_alerting_uid}}
            __panelId__: "4"
          labels: {}
          isPaused: false
