#x-tournesol-modal {
  top: 0;
  left: 0;
  position: fixed;

  width: 100%;
  height: 100%;

  z-index: 9999;
  display: none;

  overflow: auto;
  background-color: rgba(0, 0, 0, 0.8);

  flex-direction: row;
  align-items: center;
  justify-content: center;
}

iframe#x-tournesol-iframe-login {
  width: 66%;
  height: 528px;
  border: none;
}

#x-tournesol-modal.main {
  width: 100%;
  flex-direction: column;
}


#x-tournesol-modal > .heading {
  margin: 8px 0;

  color: rgb(255, 200, 0);

  display: flex;
  align-items: center;
  justify-content: center;

  font-family: system-ui, Arial, sans-serif;
}

iframe#x-tournesol-iframe-login .heading h2 {
  margin: 0;
  font-size: 18px;
}

