button#tournesol-rate-button {
  background: transparent;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  font-family: 'Roboto', 'Noto', sans-serif;
  color: #f3bd00;
  margin-left: 8px;
  display: inline-block;
  vertical-align: middle;
  text-transform: uppercase;
  font-weight: 500;
}

button#tournesol-rate-button:disabled {
  opacity: 0.5;
}

img#tournesol-button-image {
  margin-right: 6px;
  vertical-align: middle;
}
