:root {
  --ts-container-padding: 16px;

  --ts-palette-primary-main: #ffc800;
  --ts-palette-primary-main-hover: #b28c00;
  --ts-palette-text-primary: #1d1a14;
}

#tournesol_container {
  position: relative;
  box-sizing: border-box;

  margin-left: 0;
  margin-right: 0;
  margin-top: 24px;
  margin-bottom: 16px; /* 40px for tournesol container - 24px for margin-top of youtube recommendations */

  padding: var(--ts-container-padding);

  border: solid 3px #f3bd00;
  border-radius: 12px;
  background: #f3bd0011;

  width: calc(100% - var(--ytd-rich-grid-item-margin) * 2);
  max-width: calc(
    var(--ytd-rich-grid-items-per-row) *
      (var(--ytd-rich-grid-item-max-width) + var(--ytd-rich-grid-item-margin))
  );
}

/**
 * ---- start: style of the main banner ----
 */

#tournesol_banner {
  padding: 16px;
  margin-bottom: 16px;

  /* hidden unless explicitly displayed to avoid visual blink */
  display: none;
  gap: 16px;
  align-items: center;

  font-size: 16px;

  color: var(--ts-palette-text-primary);
  background-color: white;

  /* MUI <Paper> style imitation */
  border-radius: 4px;
  box-shadow:
    0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#tournesol_banner.displayed {
  display: flex;
}

#tournesol_banner_title {
  margin-bottom: 8px;

  font-size: 1.06em;
}

#tournesol_banner p {
  letter-spacing: 0.2px;
}

#tournesol_banner_icon {
  width: 35px;
}

#tournesol_banner_icon.campaign {
  filter: invert(36%) sepia(28%) saturate(7184%) hue-rotate(176deg) brightness(91%) contrast(86%);
}

#tournesol_banner_icon.security {
  filter: brightness(0) saturate(100%) invert(27%) sepia(50%) saturate(1983%) hue-rotate(335deg) brightness(107%) contrast(98%);
}

#tournesol_banner_close_button_container {
  margin-left: auto;
}

#tournesol_banner_close_icon {
  width: 22px;
  opacity: 0.7;
}

#tournesol_banner_close_icon:hover {
  opacity: 1;
}

html[dark] #tournesol_banner {
  color: var(--yt-spec-text-primary);
  background-color: var(--yt-spec-button-chip-background-hover);
}

html[dark] #tournesol_banner_close_icon {
  filter: invert(99%) saturate(0%) brightness(140%);
}

/* ---- end: style of the main banner ---- */

#tournesol_videos_flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#tournesol_title {
  color: var(--yt-spec-text-primary);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 22px;
  font-weight: normal;
}

#tournesol_link {
  color: var(--yt-spec-text-secondary);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 12px;
  margin-right: auto;
}

#ts_container_bottom_action_bar {
  width: 100%;

  display: flex;
  justify-content: flex-end;
}

.video_title_link,
.video_channel_link {
  text-decoration: none;
}

.video_title_link {
  color: inherit;
}

.video_channel_link {
  color: var(--yt-spec-text-secondary);
}

.video_channel_link:hover {
  color: var(--yt-spec-text-primary);
}

.tournesol_score_logo {
  width: 16px;
  vertical-align: text-top;
}

.tournesol_mui_like_button {
  margin: 0;
  padding: 8px 22px;

  display: inline-flex;

  cursor: pointer;
  line-height: 24.5px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: normal;
  text-decoration: none;
  text-transform: uppercase;

  color: var(--ts-palette-text-primary);
  background-color: var(--ts-palette-primary-main);

  border-radius: 4px;
  box-shadow:
    0px 3px 1px -2px rgb(0 0 0 / 20%),
    0px 2px 2px 0px rgb(0 0 0 / 14%),
    0px 1px 5px 0px rgb(0 0 0 / 12%);
}

.tournesol_mui_like_button.small {
  padding: 4px 10px;
  font-size: 13px;
}

.tournesol_mui_like_button:hover {
  text-decoration: none;
  background-color: rgb(178, 140, 0);
  box-shadow:
    0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%),
    0px 1px 10px 0px rgb(0 0 0 / 12%);
}

.tournesol_simple_button {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0px;
  border-style: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.tournesol_simple_button img {
  filter: invert(38%) sepia(0%) saturate(0%) hue-rotate(66deg) brightness(96%) contrast(92%);

  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}

html[darker-dark-theme][dark] .tournesol_simple_button img {
  filter: invert(78%) sepia(0%) saturate(0%) hue-rotate(229deg) brightness(89%) contrast(86%);
}

.tournesol_simple_button:hover img,
.tournesol_simple_button:active img {
  filter: invert(0%) sepia(11%) saturate(3315%) hue-rotate(338deg) brightness(79%) contrast(88%);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

html[darker-dark-theme][dark] .tournesol_simple_button:hover img,
html[darker-dark-theme][dark] .tournesol_simple_button:active img {
  filter: invert(99%) sepia(4%) saturate(475%) hue-rotate(206deg) brightness(116%) contrast(89%);
}

.tournesol_simple_button.emphatic img,
html[darker-dark-theme][dark] .tournesol_simple_button.emphatic img {
  filter: invert(36%) sepia(28%) saturate(7184%) hue-rotate(176deg) brightness(91%) contrast(86%);
}

.tournesol_simple_button:disabled img {
  filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(326deg) brightness(95%) contrast(94%);
}

html[darker-dark-theme][dark] .tournesol_simple_button:disabled img {
  filter: invert(40%) sepia(0%) saturate(1199%) hue-rotate(174deg) brightness(107%) contrast(79%);
}

.video_card {
  position: relative;

  width: calc(
    100% / min(4, var(--ytd-rich-grid-items-per-row))
    - var(--ytd-rich-grid-item-margin)
    - 0.01px
  );
}

.video_thumb {
  width: 100%;
  background: green;
  border-radius: 12px;
}

.video_title {
  color: var(--yt-spec-text-primary);
  margin-bottom: 6px;
  font-family: 'Roboto', 'Arial', sans-serif;
  letter-spacing: var(--yt-link-letter-spacing, normal);
  white-space: normal;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-weight: 500;
  display: -webkit-box;
  line-height: 2rem;
  max-height: 4rem;
  min-height: 4rem;
}

.video_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.details_div {
  position: relative;
  display: flex;
  gap: 6px;
  flex-direction: column;
  padding-bottom: var(--ts-container-padding);
}

.details_div > h2 {
  margin: 0;
}

.video_channel_details :first-child{
  margin-bottom: 6px;
}

.video_text,
.video_criteria {
  color: var(--yt-endpoint-color, var(--yt-spec-text-secondary));
  font-family: 'Roboto', 'Arial', sans-serif;
  word-break: break-word;
  font-size: 1.4rem;
  font-weight: 400;
}

#ts_container_top_action_bar {
  width: 100%;
  margin-bottom: 16px;

  display: flex;
  align-items: center;
  gap: 16px;
}

.time_span {
  position: absolute;
  bottom: 3px;
  right: 3px;

  margin: 4px;
  padding: 3px 4px;

  height: 12px;
  border-radius: 2px;

  color: white;
  background-color: var(--yt-spec-static-overlay-background-heavy);

  cursor: pointer;
  font-size: var(--yt-badge-font-size, 1.2rem);
  font-weight: 500;
  line-height: var(--yt-badge-line-height-size, 1.2rem);
  letter-spacing: var(--yt-badge-letter-spacing, 0.5px);
}

.thumb_div {
  position: relative;
  margin-bottom: 6px;
}

/**
 * ---- start: style of search results ----
 */

#tournesol_container.search {
  width: 100%;
  min-width: 320px;
  max-width: 1096px;
  margin: 0 auto;
  padding: 24px 0;
  border: none;
  background-color: transparent;
}

#tournesol_container.search h2 {
  min-height: auto;
  font-size: 1.8rem;
}

#tournesol_container.search .tournesol_score_logo {
  width: 32px;
}

#tournesol_container.search .thumb_div,
#tournesol_container.search .thumb_div img {
  width: 100%;
  min-width: 240px;
  max-width: 360px;
  aspect-ratio: 16/9;
  height: 100%;
  margin: 0;
  border-radius: 12px;
}


#tournesol_container.search .video_card {
  width: 100%;
  margin-bottom: 16px;
  display: flex;
  border-radius: 4px;
}

#tournesol_container.search #tournesol_refresh_button,
#tournesol_container.search #tournesol_expand_button,
#tournesol_container.search .video_tournesol_rating .dot {
  display: none;
}

#tournesol_container.search .video_card .details_div {
  font-size: 1.3em;
  padding: 1em;
  cursor: initial;
}

#tournesol_container.search .video_card .details_div .video_text {
  font-size: 1.2rem;
}

#tournesol_container.search .video_card .details_div strong {
  font-weight: 400;
  font-size: 2.4em;
  color: var(--yt-spec-text-primary);
  margin-right: 8px;
  font-style: normal;
}
#tournesol_container.search .video_card .details_div :nth-child(3) {
  font-style: italic;
}

#tournesol_container.search .video_card .details_div .video_tournesol_rating,
#tournesol_container.search .video_card .details_div .video_criteria {
  display: flex;
  align-items: center;
  font-size: 1.4rem;
}

#tournesol_container.search .video_criteria img {
  margin: 0 8px;
  width: 32px;
}

#tournesol_container.search .video_card .details_div .contributors {
  color: #B38B00;
}

#tournesol_container.search .video_title {
  font-weight: 400;
}

#tournesol_container.search .video_channel_details {
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-end;
  column-gap: 16px;
}

#tournesol_view_more_results {
  display: flex;
  justify-content: flex-end;
}

#tournesol_view_more_results.view_more_link {
  font-size: 1.2rem;
  /* MUI <Button size="small"> imitation */
  padding: 4px 10px;
}

/* ---- end: style of the search results ---- */
