:root {
  --ts-container-padding: 16px;
}

#tournesol_container {
  position: relative;
  box-sizing: border-box;

  margin-left: 0;
  margin-right: 0;
  margin-top: 45px;
  margin-bottom: 16px; /* 40px for tournesol container - 24px for margin-top of youtube recommendations */

  padding: var(--ts-container-padding);
  padding-bottom: 0;

  border: solid 3px #f3bd00;
  border-radius: 12px;
  background: #f3bd0011;

  width: calc(100% - var(--ytd-rich-grid-item-margin) * 2);
  max-width: calc(
    var(--ytd-rich-grid-items-per-row) *
      (var(--ytd-rich-grid-item-max-width) + var(--ytd-rich-grid-item-margin))
  );
}

/* MUI <Paper> style imitation */
#tournesol_banner {
  padding: 16px;
  margin-bottom: 16px;

  font-size: 16px;
  letter-spacing: 0.2px;

  color: #1d1a14;
  background-color: white;

  border-radius: 4px;
  box-shadow:
    0px 2px 1px -1px rgb(0 0 0 / 20%),
    0px 1px 1px 0px rgb(0 0 0 / 14%),
    0px 1px 3px 0px rgb(0 0 0 / 12%);
}

#tournesol_videos_flexcontainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#tournesol_title {
  color: var(--yt-spec-text-primary);
  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 22px;
  position: absolute;
  left: 32px;
  font-weight: normal;
}

#tournesol_link {
  color: var(--yt-spec-text-primary);
  font-family: 'Roboto', 'Arial', sans-serif;
  float: right;
  margin-top: 3px;
  margin-left: 2px;
}

#tournesol_refresh_button {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
  margin-right: 24px;
}

#tournesol_expand_button {
  float: right;
  margin-top: 4px;
  margin-left: 12px;
}

#tournesol_icon {
  position: absolute;
  left: 0px;
}

.tournesol_simple_button {
  fill: var(--yt-spec-text-secondary);
  width: 20px;
  height: 20px;
  border-radius: 10px;
  padding: 0px;
  border-style: none;
  background-color: transparent;
  position: relative;
  cursor: pointer;
}

.tournesol_simple_button svg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 20px;
  height: 20px;
}

.tournesol_simple_button:hover svg {
  fill: var(--yt-spec-text-primary);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.tournesol_simple_button:active svg {
  fill: var(--yt-spec-text-primary);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.tournesol_simple_button:active {
  background: var(--yt-spec-brand-background-solid);

  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

.tournesol_simple_button:disabled svg {
  fill: var(--yt-spec-text-disabled);
}

.tournesol_simple_button:disabled {
  background: var(--yt-spec-brand-background-solid);
}

.video_box {
  position: relative;
  width: calc(100% / 4 - var(--ytd-rich-grid-item-margin) - 0.01px);
}

.video_thumb {
  width: 100%;
  background: green;
  border-radius: 12px;
}

.video_title {
  color: var(--yt-spec-text-primary);
  margin-bottom: 6px;
  font-family: 'Roboto', 'Arial', sans-serif;
  letter-spacing: var(--yt-link-letter-spacing, normal);
  white-space: normal;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  font-weight: 500;
  display: -webkit-box;
  line-height: 2rem;
  max-height: 4rem;
  min-height: 4rem;
}

.video_link {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.details_div {
  cursor: pointer;
  position: relative;

  display: flex;
  gap: 10px;
  flex-direction: column;

  padding-bottom: var(--ts-container-padding);
}

.details_div > h2 {
  margin: 0;
}

.video_text {
  color: var(--yt-endpoint-color, var(--yt-spec-text-secondary));
  font-family: 'Roboto', 'Arial', sans-serif;
  word-break: break-word;
  font-size: 1.4rem;
  font-weight: 400;
}

.inline_div {
  position: absolute;
  width: 100%;
  top: -38px;
}

.time_span {
  position: absolute;
  bottom: 0;
  right: 0;
  color: white;
  background-color: var(--yt-spec-static-overlay-background-heavy);
  margin: 4px;
  padding: 3px 4px;
  height: 12px;
  border-radius: 2px;
  flex-direction: row;
  align-items: center;
  cursor: pointer;
  font-size: var(--yt-badge-font-size, 1.2rem);
  font-weight: 500;
  line-height: var(--yt-badge-line-height-size, 1.2rem);
  letter-spacing: var(--yt-badge-letter-spacing, 0.5px);
}

.thumb_div {
  position: relative;
  margin-bottom: 6px;
}
