.tournesol-statistics-info {
  display: flex;
  align-items: center;
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: 16px;
  padding: 0 8px;
  white-space: nowrap;
  border-radius: 12px;
  background-color: #f3bd0020;
  color: var(--yt-spec-text-primary);
  min-height: 36px;
}

.tournesol-statistics-score {
  display: flex;
  align-items: center;
  margin-right: 8px;
  font-size: 28px;
}

.tournesol-statistics-icon {
  width: 28px;
  height: 28px;
  margin-right: 4px;
  vertical-align: middle;
}

.tournesol-statistics-comparisons,
.tournesol-statistics-contributors {
  margin-right: 8px;
}
.unsafe{
  filter: grayscale(100%);
}

@media (max-width: 990px) {
  .tournesol-statistics-info {
    margin-left: 6px;
    font-size: 16px;
  }
  .tournesol-statistics-score,
  .tournesol-statistics-comparisons,
  .tournesol-statistics-contributors {
    margin-right: 6px;
  }
  .tournesol-statistics-icon {
    width: 20px;
    height: 20px;
    margin-right: 6px;
  }
}
