- name: Reload Nginx
  systemd:
    name: nginx
    state: reloaded
    daemon_reload: true

- name: Restart Gunicorn
  systemd:
    name: gunicorn
    state: restarted
    daemon_reload: true

- name: Migrate Django database
  shell:
    cmd: "source /srv/tournesol-backend/venv/bin/activate && SETTINGS_FILE=/etc/tournesol/settings.yaml python /srv/tournesol-backend/manage.py migrate"
    executable: /usr/bin/bash
  become: true
  become_user: gunicorn

- name: Compile Django messages
  shell:
    chdir: /srv/tournesol-backend
    cmd: "source /srv/tournesol-backend/venv/bin/activate && django-admin compilemessages"
    executable: /usr/bin/bash
  become: true
  become_user: gunicorn

- name: Create database cache
  shell:
    cmd: "source /srv/tournesol-backend/venv/bin/activate && SETTINGS_FILE=/etc/tournesol/settings.yaml python /srv/tournesol-backend/manage.py createcachetable"
    executable: /usr/bin/bash
  become: true
  become_user: gunicorn

- name: Notify backend upgrade
  shell:
    cmd: "wget -qO /dev/null --post-data='{\"content\": \"**{{domain_name}}** - new back end deployed: {{git_reference}}\"}' --header='Content-Type:application/json' '{{discord_infra_alert_webhook}}?wait=true'"
    executable: /usr/bin/bash
  when: discord_infra_alert_webhook is defined and discord_infra_alert_webhook != ""

- name: Collect Django static assets
  shell:
    cmd: "source /srv/tournesol-backend/venv/bin/activate && SETTINGS_FILE=/etc/tournesol/settings.yaml python /srv/tournesol-backend/manage.py collectstatic --noinput"
    executable: /usr/bin/bash
  become: true
  become_user: gunicorn

- name: Populate Django DB from Public Dataset
  shell:
    cmd: cd /tmp && tar xvf /srv/tournesol-backend/scripts/dataset-import/dump-for-migrations-core-0004-tournesol-0007.sql.tgz && psql -1 -d tournesol < dump.sql && rm dump.sql
    executable: /usr/bin/bash
  become: yes
  become_user: postgres
  when: populate_django_db_from_public_dataset == True

- name: Create Swagger UI OAuth application in Django database
  shell:
    cmd: now=$(date -I) && psql -d tournesol <<< "insert into oauth2_provider_application (client_id, redirect_uris, client_type, authorization_grant_type, client_secret, name, skip_authorization, algorithm, created, updated) values ('{{swagger_ui_oauth2_client_id}}', '{{api_scheme}}://{{api_domain_name}}/docs/', 'confidential', 'password', '{{swagger_ui_oauth2_client_secret}}','Swagger UI', true, 'RS256', '$now', '$now');"
    executable: /usr/bin/bash
  become: yes
  become_user: postgres
