html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.SnackbarItem-wrappedRoot.belowTopBar {
  /* display alerts below the top bar, to avoid hiding buttons */
  top: 66px;
}
