html, body, #root {
  margin: 0;
  width: 100%;
  height: 100%;
  background-color: #fafafa;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/**
 * Classes used in the last resorts, when components don't provide the `sx`
 * attribute. Like `Link` from the react-router-dom package.
 */

.full-width {
  width: 100%;
}

.no-decoration {
  text-decoration: none;
}

/* -- start: third-party packages customization -- */

/* pkg: notistack */
.SnackbarContainer-root.belowTopBar {
  /* display alerts below the top bar, to avoid hiding buttons */
  top: 80px;
}
html.embedded .SnackbarContainer-root.belowTopBar {
  /* when the site is embedded in the browser extension iframe, we move the
     snackbar into the empty page title bar in order to avoid shadowing any
     page content */
  top: 4px;
}


/* pkg: @mui/material */
@media (pointer: coarse) {
  /* On touch screens, disable touch events on the slider rail.
     Only the slider "thumb" will remain interactive. */
  .MuiSlider-root {
    pointer-events: none;
  }
  .MuiSlider-root .MuiSlider-thumb {
    pointer-events: auto;
  }
}

/* -- end: third-party packages customization -- */
