/devenv/
/dist/
/experiments/

**__pycache__/
.flake8/
.pylint/
.pytest/
.pytest_cache/
.python-version

tests/**.parquet
tests/**/*.parquet
file.log

papers/**.aux
papers/**.lof
papers/**.log
papers/**.out
papers/**.toc
papers/**.fmt
papers/**.bbl
papers/**.blg
