name: Backend lint and tests

on:
  # Run tests only when 'backend' or CI config has changed
  push:
    paths:
      - 'backend/**'
      - 'solidago/**'
      - '.github/workflows/backend-ci.yml'
  pull_request:
    paths:
      - 'backend/**'
      - 'solidago/**'
      - '.github/workflows/backend-ci.yml'

defaults:
  run:
    working-directory: backend

jobs:
  test:
    runs-on: ubuntu-latest

    services:
      postgres:
        image: postgres:13
        env:
          POSTGRES_USER: postgres
          POSTGRES_DB: tournesol
          POSTGRES_PASSWORD: password
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    env:
      UV_PROJECT_ENVIRONMENT: venv

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.9'

      - name: Install uv
        uses: astral-sh/setup-uv@v6
        with:
          version: "0.9.9"

      - name: Install dependencies
        run: uv sync --locked --all-extras

      - name: Python Code Quality Checks
        run: uv run ./scripts/ci/lint.sh

      - name: Run pytest
        run: uv run pytest

      - name: Run bandit
        run: uv run bandit -r . -c bandit.yaml
