name: Run end-to-end tests

on:
  push:
    branches:
      - 'main'
  pull_request:
  # Allows to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  e2e-browser-extension:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version: '18'

      - name: Prepare extension
        working-directory: browser-extension
        run: |
          EXTENSION_BROWSER=chrome MANIFEST_VERSION=3 yarn configure

      - uses: cypress-io/github-action@v6
        with:
          working-directory: tests
          browser: chrome
          headed: true
          spec: "cypress/e2e/browser-extension/**/*"
          config: baseUrl=https://www.youtube.com

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/cypress/screenshots

  e2e-frontend:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Start dev env
        run: ./dev-env/run-docker-compose.sh
        env:
          FRONTEND_START_SCRIPT: "start:e2e"

      - uses: actions/setup-node@v4
        with:
          node-version: '18'

      - uses: cypress-io/github-action@v6
        with:
          working-directory: tests
          browser: chrome
          spec: "cypress/e2e/frontend/**/*"

      - name: Print dev-env logs
        if: failure()
        working-directory: ./dev-env
        run: docker-compose logs -t --tail=300

      - uses: actions/upload-artifact@v1
        if: failure()
        with:
          name: cypress-screenshots
          path: tests/cypress/screenshots
