name: Publish Solidago

on:
  push:
    branches:
      - main
    paths:
      - 'solidago/src/solidago/__version__.py'

defaults:
  run:
    working-directory: solidago

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install build dependencies
        run: pip install build

      - name: Build distribution
        run: python -m build

      - name: Publish package to PyPI
        uses: pypa/gh-action-pypi-publish@release/v1
        with:
          packages-dir: solidago/dist/
          password: ${{ secrets.SOLIDAGO_PYPI_API_TOKEN }}

      - name: Publish documentation on GitHub Pages
        run: |
          pip install -e .[docs]
          git fetch origin gh-pages
          mkdocs gh-deploy
